.keyboard {
  .keyboard_mask {
  }
  .keyboard_content {
    padding: 12px 8px;
    background-color: #eaeaea;
  }
  .keyboard_item_content {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    box-sizing: border-box;
  }
  .keyboard_item {
    width: 10%;
    text-align: center;
    height: 80px;
    line-height: 80px;
    box-sizing: border-box;
    margin: 0 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
  }
  .keyboard_item_hover {
    background-color: #eaeaea;
  }
  .keyboard_item_disabled {
    color: #b8b8b8;
  }
  .keyboard_number_content {
  }
  .keyboard_lettertwo_content {
    padding-left: 5%;
    padding-right: 5%;
  }
  .keyboard_letterth_content {
    padding-left: 9%;
    padding-right: 5%;
  }
  .keyboard_delete {
    width: 16%;
  }
  .keyboard_confirm {
    width: 80%;
  }
}
